<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.4">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>REF</name>
          <description></description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description></description>
          <defaultValue>continuous</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>TAG</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PUSH_TAG</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.8.1">
      <teamDomain></teamDomain>
      <token></token>
      <room></room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.4">
    <script>node {
    ArrayList&lt;ParameterValue&gt; global_parameters=new ArrayList&lt;ParameterValue&gt;();
    global_parameters.add(new hudson.model.StringParameterValue(&apos;VERSION&apos;,VERSION));
    global_parameters.add(new hudson.model.StringParameterValue(&apos;REF&apos;,REF));
    global_parameters.add(new hudson.model.BooleanParameterValue(&apos;TAG&apos;,TAG.toBoolean()));
    global_parameters.add(new hudson.model.StringParameterValue(&apos;PUSH_TAG&apos;,PUSH_TAG));

    parallel app: {
	build job:&apos;app&apos;, parameters:global_parameters
    }, dbschema: {
	build job:&apos;db-schema&apos;, parameters:global_parameters
    }, cmsdal: {
	build job:&apos;cmsdal&apos;, parameters:global_parameters
    };

    build job:&apos;commons&apos;, parameters:global_parameters;

    parallel amqplugin: {
	build job:&apos;amq-plugin&apos;, parameters:global_parameters
    }, antenna: {
	build job:&apos;antenna&apos;, parameters:global_parameters	
    }, adapter: {
	build job:&apos;adapter&apos;, parameters:global_parameters
    }, controller: {
	build job:&apos;controller&apos;, parameters:global_parameters
    }, daq: {
	build job:&apos;daq&apos;, parameters:global_parameters
    }, inductor: {
	build job:&apos;inductor&apos;, parameters:global_parameters	
    }, opamp: {
	build job:&apos;opamp&apos;, parameters:global_parameters
    }, search: {
	build job:&apos;search&apos;, parameters:global_parameters
    }, sensor: {
	build job:&apos;sensor&apos;, parameters:global_parameters
    }, transmitter: {
	build job:&apos;transmitter&apos;, parameters:global_parameters
    }, cmsadmin: {
	build job:&apos;cms-admin&apos;, parameters:global_parameters
    }, transistor: {
	build job:&apos;transistor&apos;, parameters:global_parameters
    };

    build job:&apos;oneops-admin&apos;, parameters:global_parameters;
	
    build job:&apos;package&apos;, parameters:global_parameters;

    build job:&apos;cms-db-package&apos;, parameters:global_parameters;

}
</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>