<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.16">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>REF</name>
          <description>Select the repo reference to use if BUILD_ALL is enabled. Branches or tags can be used.</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description></description>
          <defaultValue>continuous</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.8.1">
      <teamDomain></teamDomain>
      <token></token>
      <room></room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -fr oneops</command>
    </hudson.tasks.Shell>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>amq-plugin</project>
      <filter>**/amqplugin-fat.jar, **/amq-config.tar.gz</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>controller</project>
      <filter>**/controller.war</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>daq</project>
      <filter>**/daq-*.war, **/daq-*.jar</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>sensor</project>
      <filter>**/sensor.war</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>opamp</project>
      <filter>**/opamp.war</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>antenna</project>
      <filter>**/antenna.war</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>search</project>
      <filter>**/search.jar</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>app</project>
      <filter>**/app.tar.gz</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>inductor</project>
      <filter>**/inductor*.jar, **/inductor*.gem</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>oneops-admin</project>
      <filter>**</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>transmitter</project>
      <filter>**/transmitter.war</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>transistor</project>
      <filter>**/transistor.war</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>adapter</project>
      <filter>**/adapter.war</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">
      <project>cms-admin</project>
      <filter>**/cms-admin.war</filter>
      <target>oneops/dist</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>echo $VERSION &gt; oneops/.version
echo $BUILD_ID &gt; oneops/.build</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>tar -czvf oneops-admin-$VERSION.tar.gz oneops/.version oneops/.build oneops/dist/*.gem
shasum -a 256 oneops-admin-$VERSION.tar.gz &gt; oneops-admin-$VERSION.tar.gz.sha1</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>tar -czvf oneops-$VERSION.tar.gz oneops
shasum -a 256 oneops-$VERSION.tar.gz &gt; oneops-$VERSION.tar.gz.sha1</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#Packaging Wars
        wars=( adapter antenna cms-admin controller daq-api-1.0.0 opamp sensor transistor transmitter )
        for war in &quot;${wars[@]}&quot;
        do
        war_package=oneops-$war-$VERSION.tar.gz
        tar -czvf $war_package oneops/.version oneops/.build oneops/dist/$war.war
        shasum -a 256 $war_package &gt; $war_package.sha1
        done

        # Packaging display
        tar -czvf oneops-display-$VERSION.tar.gz oneops/.version oneops/.build oneops/dist/app.tar.gz
        shasum -a 256 oneops-display-$VERSION.tar.gz &gt;oneops-display-$VERSION.sha1

        #Packaging search jar
        tar -czvf oneops-search-$VERSION.tar.gz oneops/.version oneops/.build oneops/dist/search.jar
        shasum -a 256 oneops-search-$VERSION.tar.gz &gt;oneops-search-$VERSION.sha1

        #Packaging inductor  jar (keeping the same name name as repo)
        tar -czvf oneops-inductor-$VERSION.tar.gz oneops/.version oneops/.build oneops/dist/inductor-1.1.0.jar
        shasum -a 256 oneops-inductor-$VERSION.tar.gz &gt;oneops-inductor-$VERSION.sha1


        #Packaging amq plugin
        tar -czvf oneops-amq-plugin-$VERSION.tar.gz oneops/.version oneops/.build oneops/dist/amqplugin-fat.jar oneops/dist/amq-config.tar.gz
        shasum -a 256 oneops-amq-plugin-$VERSION.tar.gz &gt;oneops-amq-plugin-$VERSION.sha1

        #Packaging oneops adming gem
        #tar -czvf oneops-admin-$VERSION.tar.gz oneops/.version oneops/.build oneops/dist/oneops-admin-1.0.0.gem

        #Packaging daq

        tar -czvf oneops-daq-$VERSION.tar.gz oneops/.version oneops/.build oneops/dist/daq-collector-1.0.0.jar oneops/dist/daq-common-1.0.0.jar
        shasum -a 256 oneops-daq-$VERSION.tar.gz &gt;oneops-daq-$VERSION.sha1
      </command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <condition class="org.jenkins_ci.plugins.run_condition.contributed.ShellCondition" plugin="run-condition@1.0">
        <command>test $OO_PACKAGE_PATH &amp;&amp; test -d $OO_PACKAGE_PATH</command>
      </condition>
      <buildStep class="hudson.tasks.Shell">
        <command>cp oneops-*$VERSION.tar.gz* $OO_PACKAGE_PATH
</command>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/oneops-*$VERSION.tar.gz*, **/oneops-admin-$VERSION.tar.gz*</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@1.8.1">
      <teamDomain></teamDomain>
      <authToken></authToken>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.5.1">
      <template>${ENV,var=&quot;VERSION&quot;}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>